<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>856021985783-1dqbl0mn8df76bmjcmdnh73cqld72he6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.856021985783-1dqbl0mn8df76bmjcmdnh73cqld72he6</string>
	<key>API_KEY</key>
	<string>AIzaSyAwMPkSbFPLbCQXOoZKIpdj0ItBpNuGWPI</string>
	<key>GCM_SENDER_ID</key>
	<string>856021985783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.firebaseUploadProfileImage</string>
	<key>PROJECT_ID</key>
	<string>fir-upload-profile-image</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-upload-profile-image.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:856021985783:ios:a3ea782d109a46fb7626f2</string>
</dict>
</plist>